body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
    width: 60%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid black;
}

main {
    display: flex;
    flex-flow: column wrap;
}

.content {
    text-align: left;
    padding-left: 1em;
    margin-bottom: 1em;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:hover {
    color: aquamarine;
}
#rodape {
    background-color: #e6751e;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}
#navegacao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6751e;
    border: none;
    padding: 10px 20px;
}
#nav_list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
#nav_list li {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid black;
}
#nav_list :last-child {
    padding-right: 10px;
    padding-left: 10px;
    border-right: none;
}
#navegacao a {
    font-size: 1em;
}
#imagem {
    width: 25%;
    margin: auto;
    display: block;
}

@media (orientation: landscape) {
    #nav_list {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
}

@media (orientation: portrait) {
    #nav_list {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    #nav_list li {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        border-right: none;
    }
}